<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pv="http://primefaces.org/verona">

    <div class="layout-menu-wrapper">
        <div class="nano">
            <div class="nano-content sidebar-scroll-content">
                <div class="layout-menu-container">
                    <h:form id="menuform">
                        <pv:menu>
                            <p:menuitem id="om_dashboard" value="DASHBOARD" icon="fa fa-home" outcome="/dashboard"/>
                            <p:submenu id="om_customization" label="CUSTOMIZATION" icon="fa fa-cog">
                                <p:submenu id="om_layout_menu" label="Menu" icon="fa fa-bars">
                                    <p:menuitem id="om_horizontal_menu" value="Horizontal Menu" icon="fa fa-bars" actionListener="#{guestPreferences.setMenuMode('horizontal')}" ajax="false"/>
                                    <p:menuitem id="om_popup_menu" value="Popup Menu" icon="fa fa-bars" actionListener="#{guestPreferences.setMenuMode('popup')}" ajax="false"/>
                                    <p:menuitem id="om_overlay_menu" value="Overlay Menu" icon="fa fa-bars" actionListener="#{guestPreferences.setMenuMode('overlay')}" ajax="false"/>
                                    <p:menuitem id="om_static_menu" value="Static Menu" icon="fa fa-bars" actionListener="#{guestPreferences.setMenuMode('static')}" ajax="false"/>
                                </p:submenu>
                                <p:submenu id="om_layout_colors" label="Layout Colors" icon="fa fa-paint-brush">
                                    <p:submenu id="om_layout_flat" label="Flat" icon="fa fa-paint-brush">
                                        <p:menuitem id="om_layout_dark" value="Dark" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('dark')}" ajax="false"/>
                                        <p:menuitem id="om_layout_turquoise" value="Turquoise" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('turquoise')}" ajax="false"/>
                                        <p:menuitem id="om_layout_green" value="Green" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('green')}" ajax="false"/>
                                        <p:menuitem id="om_layout_blue" value="Blue" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('blue')}" ajax="false"/>
                                        <p:menuitem id="om_layout_rose" value="Rose" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('rose')}" ajax="false"/>
                                        <p:menuitem id="om_layout_teal" value="Teal" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('teal')}" ajax="false"/>
                                        <p:menuitem id="om_layout_bluegrey" value="Blue Grey" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('bluegrey')}" ajax="false"/>
                                    </p:submenu>
                                    <p:submenu id="om_layout_special" label="Special" icon="fa fa-paint-brush">
                                        <p:menuitem id="om_layout_cosmic" value="Cosmic" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('cosmic')}" ajax="false"/>
                                        <p:menuitem id="om_layout_lawrencium" value="Lawrencium" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('lawrencium')}" ajax="false"/>
                                        <p:menuitem id="om_layout_couple" value="Couple" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('couple')}" ajax="false"/>
                                        <p:menuitem id="om_layout_stellar" value="Stellar" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('stellar')}" ajax="false"/>
                                        <p:menuitem id="om_layout_beach" value="Beach" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('beach')}" ajax="false"/>
                                        <p:menuitem id="om_layout_flow" value="Flow" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('flow')}" ajax="false"/>
                                        <p:menuitem id="om_layout_fly" value="Fly" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('fly')}" ajax="false"/>
                                        <p:menuitem id="om_layout_nepal" value="Nepal" icon="fa fa-paint-brush" actionListener="#{guestPreferences.setLayout('nepal')}" ajax="false"/>
                                    </p:submenu>
                                </p:submenu>
                                <p:submenu id="om_themes" label="Themes" icon="fa fa-magic">
                                    <p:menuitem id="om_theme_green" value="Green Theme" icon="fa fa-magic" actionListener="#{guestPreferences.setTheme('green')}" ajax="false"/>
                                    <p:menuitem id="om_theme_teal" value="Teal Theme" icon="fa fa-magic" actionListener="#{guestPreferences.setTheme('teal')}" ajax="false"/>
                                    <p:menuitem id="om_theme_blue" value="Blue Theme" icon="fa fa-magic" actionListener="#{guestPreferences.setTheme('blue')}" ajax="false"/>
                                    <p:menuitem id="om_theme_amber" value="Amber Theme" icon="fa fa-magic" actionListener="#{guestPreferences.setTheme('amber')}" ajax="false"/>
                                    <p:menuitem id="om_theme_purple" value="Purple Theme" icon="fa fa-magic" actionListener="#{guestPreferences.setTheme('purple')}" ajax="false"/>
                                    <p:menuitem id="om_theme_turquoise" value="Turquoise Theme" icon="fa fa-magic" actionListener="#{guestPreferences.setTheme('turquoise')}" ajax="false"/>
                                    <p:menuitem id="om_theme_bluegrey" value="Blue Grey Theme" icon="fa fa-magic" actionListener="#{guestPreferences.setTheme('bluegrey')}" ajax="false"/>
                                </p:submenu>
                            </p:submenu>
                            <p:submenu id="om_default" label="TEMPLATE PAGES" icon="fa fa-life-saver">
                                <p:menuitem id="om_empty" value="Empty Page" icon="fa fa-square-o" outcome="/empty" />
                                <p:menuitem id="om_landing" value="Landing Page" icon="fa fa-globe" outcome="/landing" target="_blank" />
                                <p:menuitem id="om_login" value="Login Page" icon="fa fa-sign-in" outcome="/login" target="_blank" />
                                <p:menuitem id="om_error" value="Error Page" icon="fa fa-exclamation-circle" outcome="/error" target="_blank"/>
                                <p:menuitem id="om_404" value="404 Page" icon="fa fa-times" outcome="/404" target="_blank" />
                                <p:menuitem id="om_access" value="Access Denied Page" icon="fa fa-exclamation-triangle" outcome="/access" target="_blank"/>
                            </p:submenu>
                            <p:submenu id="om_hierarchy" label="MENU HIERARCHY" icon="fa fa-gg">
                                <p:submenu id="om_sm1" label="Submenu 1" icon="fa fa-sign-in">
                                    <p:submenu id="om_sm11" label="Submenu 1.1" icon="fa fa-sign-in">
                                        <p:menuitem id="om_lnk111" value="Link 1.1.1" icon="fa fa-sign-in" url="#" />
                                        <p:menuitem id="om_lnk112" value="Link 1.1.2" icon="fa fa-sign-in" url="#" />
                                        <p:menuitem id="om_lnk113" value="Link 1.1.3" icon="fa fa-sign-in" url="#" />
                                    </p:submenu>
                                    <p:submenu id="om_sm12" label="Submenu 1.2" icon="fa fa-sign-in">
                                        <p:menuitem id="om_lnk121" value="Link 1.2.1" icon="fa fa-sign-in" url="#" />
                                    </p:submenu>
                                </p:submenu>
                                <p:submenu id="om_sm2" label="Submenu 2" icon="fa fa-sign-in">
                                    <p:submenu id="om_sm21" label="Submenu 2.1" icon="fa fa-sign-in">
                                        <p:menuitem id="om_lnk211" value="Link 2.1.1" icon="fa fa-sign-in" url="#" />
                                        <p:menuitem id="om_lnk212" value="Link 2.1.2" icon="fa fa-sign-in" url="#" />
                                    </p:submenu>
                                    <p:submenu id="om_sm22" label="Submenu 2.2" icon="fa fa-sign-in">
                                        <p:menuitem id="om_lnk221" value="Link 2.2.1" icon="fa fa-sign-in" url="#" />
                                    </p:submenu>
                                </p:submenu>
                            </p:submenu>
                        </pv:menu>
                    </h:form>
                </div>
            </div>
        </div>
    </div>

</ui:composition>
