<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Flow</ui:define>

    <ui:define name="head">

        <style type="text/css">
            .main-content {
                padding: 0;
            }

            .ui-diagram-element {   
                width:14em; 
                height:4em;     
                line-height: 100%;
                border:0.1em dotted #E5E4E2;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 4px;
                border: 1px solid #79BD8F;
                background-color: #79BD8F;
                color: #ffffff;
            }
            .ui-diagram-element:hover {
                background-color: #828B9C;
            }
            .input-node{
                border: 1px solid #FFFF8B !important;
                background-color: #FFFF8B !important;
            }
            .output-node{
                border: 1px solid #BEEB9F !important;
                background-color: #BEEB9F !important;
            }

            .start-node {
                width:4em;
                border-radius: 6em;
                border: 1px solid #FF6138 !important;
                background-color: #FF6138 !important;
            }

            .flow-label {
                color: #464F60;
                font-size: 18px;
                font-weight: bold;
            }

            .diamond{
                -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                width:100px; 
                height:80px; 
                text-align: center;
                padding-top: 23px;
                margin-left: auto;
                margin-right: auto;
                display: inline-block !important;
                border: 1px solid #00A388 !important;
                background-color: #00A388 !important;
            }
            .diamondButton{
                -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                width:71px; 
                height:50px; 
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: inline-block !important;
            }
            .dot-end-point{
            }

        </style>
    </ui:define>

    <ui:define name="content">
        <script>

            #{flowChartSetup.init()}
        </script>
        <h:form id="diagramMain">
            <p:outputLabel value="Select Component"/>
            <h:panelGrid  columns="6" cellpadding="2px" cellspacing="2px" style="padding: 5px; width: 100%"  styleClass="ui-panelgrid-blank">
                <p:commandButton value="Start" style="border-radius: 20em; width: 4em; height: 4em;" actionListener="#{flowChartSetup.createNode('Start')}" update="@form"/>
                <p:commandButton value="End" style="border-radius: 20em; width: 4em; height: 4em;" actionListener="#{flowChartSetup.createNode('End')}" update="diagram"/>
                <p:commandButton value="Condition" styleClass="diamondButton" actionListener="#{flowChartSetup.createNode('Condition')}" update="@form"/>
                <p:commandButton value="Action" style="width: 79px;height: 40px;" actionListener="#{flowChartSetup.createNode('Action')}" update="@form"/>
                <p:commandButton value="Input" style="width: 79px;height: 40px;" actionListener="#{flowChartSetup.createNode('Input')}" update="@form"/>
                <p:commandButton value="Output" style="width: 79px;height: 40px;" actionListener="#{flowChartSetup.createNode('Output')}" update="@form"/>
                <p:commandButton value="ff" actionListener="#{test.setup(flowChartSetup.listofCurrentNode,flowChartSetup.listOfConnection)}" action="test?faces-redirect=true"/>
            </h:panelGrid>

            <p:diagram value="#{flowChartSetup.model}" var="el" id="diagram" style="height:700px;" styleClass="ui-widget-content">
                <f:facet name="element" >
                    <h:panelGrid columns="2" cellpadding="0" cellspacing="0" width="5px" >

                        <p:commandButton icon="fa fa-edit" styleClass="edit-button"
                                         rendered="#{el.name ne 'Start' and el.name ne 'End' and el.name ne 'Condition'}"  
                                         style="background-color: #646D7E;width: 1.4em; margin-left: 4px;"  />
                        <p:commandButton icon="fa fa-times" style="background-color: #646D7E;width: 1.4em;" actionListener="#{flowChartSetup.deleteNode()}" update="@form"
                                         rendered="#{el.name ne 'Start' and el.name ne 'End' and el.name ne 'Condition'}"  />
                        <p:commandButton icon="fa fa-edit" style="background-color: #646D7E;width: 1.4em; margin-left: 22px;" 
                                         rendered="#{el.name eq 'Condition'}" />
                        <p:commandButton  
                            icon="fa fa-times" style="background-color: #646D7E;width: 1.4em;" 
                            rendered="#{el.name eq 'Condition'}" actionListener="#{flowChartSetup.deleteNode()}" update="@form" />
                    </h:panelGrid>
                    <p:outputLabel value="#{el.name}" />


                </f:facet>
                <p:ajax event="connect" listener="#{flowChartSetup.position}"  oncomplete="PF('lineName').show();"   />
            </p:diagram>
            <p:remoteCommand name="elementClicked" actionListener="#{flowChartSetup.onClick()}"/>
            <script>
                $('.ui-diagram > .ui-diagram-element').on('click', function (info) {
                    console.log(this);
                    console.log(this.style.left);
                    //var ele = document.getElementById(info.target.id);
                    //console.log(ele);
                    elementClicked([{
                            name: 'elementId',
                            value: this.id
                        },{
                            name : 'x',
                            value : this.style.left
                        },{
                            name : 'y',
                            value : this.style.top
                        }]);
                });

//                $(document).ready(function () {
//                    $('.edit-button').on("click", function () {
//                        console.log($(this).parent().parent().parent().parent().parent()[0].getAttribute("actionName"));
//                    })
//                })
            </script>


        </h:form>
           <p:dialog modal="true" widgetVar="lineName" header="Line name" showEffect="fade" hideEffect="fade"
                  width="500">
            <h:form id="lineName">
                <h:panelGrid columns="2" width="100%">
                    <p:outputLabel for="line" value="line Header"/>
                    <p:inputText id="line" required="true" value="#{flowChartSetup.lineHeader}"/>
                    <p:commandButton value="OK" actionListener="#{flowChartSetup.saveConnection()}" update=":diagramMain"   oncomplete="if(args &amp;&amp; !args.validationFailed) PF('lineName').hide();" />

                </h:panelGrid>
            </h:form>
           </p:dialog>
    </ui:define>

</ui:composition>