<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="title">Flow</ui:define>

    <ui:define name="head">

        <style type="text/css">
            .main-content {
                padding: 0;
            }

            .ui-diagram-element {   
                width:14em; 
                height:4em;     
                line-height: 100%;
                border:0.1em dotted #E5E4E2;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 4px;
                border: 1px solid #646D7E;
                background-color: #646D7E;
                color: #ffffff;
            }
            .ui-diagram-element:hover {
                background-color: #828B9C;
            }

            .start-node {
                width:4em;
                border-radius: 6em;
                background-color: #000000 !important;
            }

            .flow-label {
                color: #464F60;
                font-size: 18px;
                font-weight: bold;
            }

            .diamond{
                -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                width:100px; 
                height:80px; 
                text-align: center;
                padding-top: 23px;
                margin-left: auto;
                margin-right: auto;
                display: inline-block !important;
            }
            .diamondButton{
                -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                width:71px; 
                height:50px; 
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                display: inline-block !important;
            }
            .dot-end-point{
            }

        </style>
    </ui:define>

    <ui:define name="content">
        <p:diagram value="#{test.model}" var="el" id="diagram" style="height:700px;" styleClass="ui-widget-content">
            <f:facet name="element" >
                <h:panelGrid columns="2" cellpadding="0" cellspacing="0" width="5px" >

                    <p:commandButton icon="fa fa-edit" styleClass="edit-button"
                                     actionListener="#{flowChartSetup.deleteNode(flowChartSetup.model.elements.get(flowChartSetup.model.elements.indexOf(el)))}" 
                                     rendered="#{el.name ne 'Start' and el.name ne 'End' and el.name ne 'Condition'}"  
                                     style="background-color: #646D7E;width: 1.4em; margin-left: 4px;"  />
                    <p:commandButton icon="fa fa-times" style="background-color: #646D7E;width: 1.4em;" 
                                     rendered="#{el.name ne 'Start' and el.name ne 'End' and el.name ne 'Condition'}"  />
                    <p:commandButton icon="fa fa-edit" style="background-color: #646D7E;width: 1.4em; margin-left: 22px;" 
                                     rendered="#{el.name eq 'Condition'}" />
                    <p:commandButton  
                        actionListener="#{flowChartSetup.deleteNode(el)}" 
                        icon="fa fa-times" style="background-color: #646D7E;width: 1.4em;" 
                        rendered="#{el.name eq 'Condition'}" />
                </h:panelGrid>
                <p:outputLabel value="#{el.name}" />


            </f:facet>
        </p:diagram>
    </ui:define>
</ui:composition>
